<form method="post" action="{{ path('produtos_delete', {'id': produto.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produto.id) }}">
    <button class="btn">Deletar produto</button>
</form>