{% extends 'base.html.twig' %}

{% block title %}Produtos index{% endblock %}

{% block body %}
    <h1>Produtos index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Preco</th>
                <th>Quantidade</th>
                <th>Descricao</th>
                <th>Validade</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.preco }}</td>
                <td>{{ produto.quantidade }}</td>
                <td>{{ produto.descricao }}</td>
                <td>{{ produto.validade ? produto.validade|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('produtos_show', {'id': produto.id}) }}">ver produto</a>
                    <a href="{{ path('produtos_edit', {'id': produto.id}) }}">editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Não há produtos cadastrados.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('produtos_new') }}">Adicionar produto</a>
{% endblock %}